* {
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0.5rem;
  background: #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border-radius: 10px;
}
.f-xs {
  font-size: 14px;
}
.f-s {
  font-size: 16px;
}
.f-m {
  font-size: 18px;
}
.f-lg {
  font-size: 20px;
}
.f-xl {
  font-size: 24px;
}
.f-title {
  font-size: 42px;
}
.cursor {
  cursor: pointer;
}
.color-primary {
  color: #71b22f;
}
